.buscador-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 2em;
  color: #05302D;
  box-sizing: border-box;
}

.lineageneralBuscador {
  width: 100%;
  height: 0.2em;
  background-color: #05302D;
  border-radius: 50px;
  margin-top: 1.5em;
}

.buscador-central {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  flex-wrap: wrap;
  gap: 20px;
}

.form-buscador-left,
.form-buscador-center,
.form-buscador-right {
  flex: 1;
  min-width: 250px;
  box-sizing: border-box;
}

.form-buscador-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.boton-buscar-general {
  width: 100%;
  background-color: #1DA89E;
  color: #1DA89E;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.boton-buscar-general:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.boton-buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buscador-container label {
  display: block;
  margin-top: 10px;
  color: #05302D;
  font-weight: bold;
}

.buscador-container input,
.buscador-container select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background: #05302D;
  color: white;
}

.buscador-container input:focus,
.buscador-container select:focus {
  outline: none;
  border-color: #00FFED;
  box-shadow: 0 0 8px rgba(0, 255, 237, 0.5);
}

.buscador-container button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #1DA89E;
  color: #042522;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 3em;
}

.buscador-container button:hover {
  background: #1DA89E;
}

.buscador-container button:focus {
  outline: none;
}

.resultado {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
@media (max-width: 768px) {
  .buscador-central {
    flex-direction: column;
    align-items: stretch;
  }

  .form-buscador-left,
  .form-buscador-center,
  .form-buscador-right {
    margin: 0;
    width: 100%;
  }

  .buscador-container {
    padding: 1.5em;
  }

  .boton-buscar-general {
    font-size: 0.95rem;
    padding: 10px;
  }
}
