.ofertaPropia-Container {
    margin-top: 1em;
  display: flex;
  flex-direction: row;
  background-color: #042522;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
.containerBusquedaOfertasPropias{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.buscador-containerOfertasPropias{
    width: 100%;
    display: flex;
    color: #042522;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.8em;
    padding-bottom: 0em;
    margin-bottom: 0em;
}
.buscador-containerOfertasPropias label{
  color: #042522;	

}
.boton-buscarOfertaPropias{
  color: #ffffff;
  background-color: #16A085;
  border-radius: 5px;
  padding: 5px 15px;
  margin-right: 5px;
}
.buscador-containerOfertasPropias input[type="text"] {
  color: #ffffff;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  width: 100%;
}


.ofertaPropia-TextContainer {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #042522;
  margin-top: 1em;
}

.ofertaPropia-ImagenEmpresa {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(2, 2, 2);
  margin-top: 1em;
}

.ofertaPropia-NombreEmpresa {
  color: #00FFED;
}

.ofertaPropia-InfoPrincipal {
  display: flex;
  flex-direction: row;
}

.ofertaPropia-Ubicacion {
  margin-right: 0.5em;
}

.ofertaPropia-Modalidad {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.ofertaPropia-Fecha {
  margin-right: 0.5em;
  margin-left: 0.5em;
  color: #00FFED;
}

.ofertaPropia-InfoExtra {
  display: flex;
  flex-direction: row;
}

.ofertaPropia-TipoContrato {
  margin-right: 0.5em;
}

.ofertaPropia-TipoJornada {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.ofertaPropia-Salario {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
