.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Fondo, fuente y color general */
.body-style {
  font-family: Arial, sans-serif;
  background-color: #05302d;
  color: #ffffff;
  margin: 0;
  height: 100%;
}

/* HEADER */
.marginHeader {
  /* margin-top: calc(50vh - 300px); */
}

.language-selector {
  position: absolute;
  top: 20px;
  right: 25px;
}

.transparent-button {
  background-color: transparent;
  border: none;
  color: #cccccc;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.transparent-button:focus {
  outline: none;
}

.transparent-button:hover {
  color: #ffffff;
}

/* CONTENIDO */
.container {
  width: 100%;
  padding: 20px;
}

.lang-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-crear-cuenta,
.btn-login {
  border: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #05302d;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  margin-bottom: 30px;
  font-weight: bold;
}

.btn-crear-cuenta {
  margin-top: 10px;
}

.btn-login {
  margin-top: 15px;
}

.form-group {
  margin-top: -40px;
  margin-bottom: 30px;
}

.form-control {
  margin-bottom: 35px;
  background-color: #05302d;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 0;
  padding: 10px;
  font-size: 1.2em;
}

.form-control:focus {
  box-shadow: none;
  background-color: #05302d;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #ffffff;
}

/* FOOTER */
.footer-container {
  padding: 20px 0;
  background-color: #05302d;
  text-align: center;
}

.footer-links a {
  color: #c4c4c4;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #ffffff;
}

.p-footer {
  margin-top: 20px;
}

.marginFooter {
  height: 0;
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .marginHeader {
    margin-top: calc(-10vh);
  }

  .container {
    width: 100%;
  }

  .logoMini {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
