body {
  font-family: Arial, sans-serif;
  background-color: #05302d; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}
.marginHeader{
  margin-top: calc(50vh - 300px);
}
.language-selector {
  position: absolute;
  top: 20px;
  right: 25px;
}

.transparent-button {
  background-color: transparent;
  border: none;
  color: #cccccc; /* Color del texto */
  font-size: 1em;
  cursor: pointer;
  outline: none; /* Eliminar borde y subrayado */
}

.transparent-button:focus {
  outline: none; /* Eliminar borde y subrayado */
}
.transparent-button:hover {
  color: #ffffff; /* Cambiar color del texto al pasar el mouse */
}

.lang-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-crear-cuenta {
  border: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #05302d;
  background-color: #ffffff; /* Color azul */
  text-decoration: none;
  border-radius: 50px;
  margin-top: 10px; /* Reducir el margen superior */
  margin-bottom: 30px;
  font-weight: bold; /* Texto en negrita */
}
.btn-login {
  border: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #05302d;
  background-color: #ffffff; /* Color azul */
  text-decoration: none;
  border-radius: 50px;
  margin-top: 15px; /* Reducir el margen superior */
  margin-bottom: 30px;
  font-weight: bold; /* Texto en negrita */
}
.form-group {
  margin-top: -40px;
  margin-bottom: 30px;
}
.form-control {
  margin-bottom: 35px;
  background-color: #05302d; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  border: none;
  border-bottom: 2px solid #ffffff; /* Borde blanco */
  border-radius: 0;
  padding: 10px;
  font-size: 1.2em;
}
.form-control:focus {
  box-shadow: none;
  background-color: #05302d; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  border: none;
  border-bottom: 2px solid #ffffff; /* Borde blanco */
}

.container {
  padding: 20px; /* Ajusta el valor del padding según tus necesidades */
}
.footer-links a {
  color: #c4c4c4; /* Texto blanco */
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
.footer-links a:hover {
  color: #ffffff; /* Cambiar texto a blanco al pasar el mouse */
}
.marginFooter{
  margin-top: calc(10vh);
}

.p-footer {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Estilos para el MOVIL */
@media (max-width: 991px) {

  .marginHeader{
      margin-top: calc(-10vh);
  }
  .container {
      width: 100%;
  }
  .logoMini {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
  }   
}