.containerGestioOferta {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    min-width: 40em;
  font-weight: bold;
  
  background-color: #ffffff;
  border-radius: 2em;
}

.activaSelectorGestorOferta{
  color: #ffffff;
  font-weight: bold;
  background-color: #16a085;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  padding:1em;
  width: 100%;
}


.buttonSelectorGestorOferta{
  color: #16a085;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 1em;
  padding:1em;
  width: 100%;
  outline: none;
}


button:hover,
button:focus {
outline: none;
}