@import "tailwindcss";

/* botones */
.container-Nav button:focus {
  outline: none;
  box-shadow: none;
}


/* displays-navs */
.LinkNavHamburguer {
  display: flex;
  
}
.LinkNav {
  display: none;
}

.LinkNav a {
  text-decoration: none;
  color: #05302d;
}
.LinkNav a:hover {
  color: #ffffff;
}

.container-Nav {
  padding: 30px 20px 0 20px;
  transition: all 0.3s ease-in-out; /* Transición suave para cambios de estilo */
}
.linkHamburguer {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100vh;
  padding: 110px 0px 10px 0px;
  background-color: rgba(13, 223, 206, 0);
  backdrop-filter: blur(5px);
  transition: top  0.3s ease-out;
  z-index: 1;
}

.linkHamburguer.show {
  top: 0;
}

.linkHamburguer a {
  margin-bottom: 5px; /* Espacio entre los elementos */
  width: 100%;
  text-decoration: none;

}

.logoLetrasNav {
  display: flex;
    width: 100px;
    margin-top: -10px; /* Eliminar margen negativo para una mejor alineación */
    margin-left: auto;
    margin-right: auto; /* Centrar los logos */
}
.logoNav {
  width: 28px;
  margin-left: auto;
  margin-right: auto; /* Centrar los logos */
  transition: all 0.3s ease-in-out;
}

.ULPERS {
  margin-bottom: 0;
  font-family: 'Roboto Mono', monospace;
  text-align: center; /* Centrar el texto */
}

/* Media query para pantallas más grandes */
@media (min-width: 560px) {
  .container-Nav {
    max-width: 550px; /* Ancho máximo del contenedor */
    margin: 0 auto;

  }
  .LinkNav a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logoNav {
    width: 45px;
    margin-left: auto;
    margin-right: auto; /* Centrar los logos */
  }
  .logoLetrasNav{
    display: none;
  }
  .LinkNavHamburguer{
    display: none;
  }
  .LinkNav {
    display: flex;
  }
}

@media (min-width: 768px) {
  .container-Nav {
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 0 auto;
  }
  .logoNav {
    width: 50px;
    margin-left: auto;
    margin-right: auto; /* Centrar los logos */
  }
  
}

@media (min-width: 1090px) {
  .container-Nav {
    max-width: 850px; /* Ancho máximo del contenedor */
    margin: 0 auto;
  }
  .logoLetrasNav {
    display: flex;
    width: 150px;
    margin-top: -16px; /* Eliminar margen negativo para una mejor alineación */
    margin-left: auto;
    margin-right: auto; /* Centrar los logos */
  }
  .LinkNav a {
    padding-left: 30px;
    padding-right: 30px;
  }

}
