.containerCreatorUser {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 45.5em;
  border-radius: 1em;
  background-color: #042522;
  padding: 2em;
}
.creatorUsersMain{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 2em;
}

.titleCreatorUser{
    display: flex;

    font-size: 2em;
}
.CreatorSelectorUser{
    display: flex;
    width: 20%;
    padding: 1em;
    background-color: #00664d;
    border-radius: 1em;
    
}

.selectorContainer{
    display: flex;
    flex-direction: column;

    width: 100%;
}