.container-Filter{
    width: 20em;
    background-color: #042522;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.ordenarOfertes{
    display: flex;
    flex-direction: column;
    align-items: start    ;
}

.radioSelectorStyle{
    display: flex;
    flex-direction: row;
}
.buscadorFiltroPalabraClave{
  background-color: white;
  color:black;
  border-radius: 2px;
  margin-right: 1em;
  padding: 0.2em;
}
.palabraClave{
    display: flex;  
    flex-direction: column;
}

.buscadorFiltroPalabraClaveBoton{
background-color: #1DA89E;
color:black;
padding: 0.3em;
border-radius: 2px;
}

.FormPalabraClave{
    display: flex;
    flex-direction: row;
}

.combobox {
  position: relative;
  display: inline-block;
  width: 200px; /* Ajusta el ancho según necesites */
}

.combobox-button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background: #042522;
  text-align: left;
  cursor: pointer;
}

.combobox-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #042522;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.combobox-option {
  display: block;
  padding: 5px;
  cursor: pointer;
}

.combobox-option:hover {
  background: #f1f1f1;
}