body,html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}


::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #042522;
    border-radius: 10px;
    border: #05302D solid 1px;
}

